/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "_customVariables.scss";
@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap-compass.scss";
@import url(https://fonts.googleapis.com/css?family=Oswald:400,500|Cabin:400,700);

* {
  box-sizing: border-box;
}

h2 {
  font-family: 'Cabin:700', sans-serif;
  font-weight: bold;
  font       : 1.3em;
  margin     : 0.5em;
}

p {
  font-family: 'Cabin:400', sans-serif;
}

body,
html {
  width     : 100%;
  height    : 100%;
  text-align: center;
}

html {
  background             : url("../img/bg-small-dark.jpg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size   : cover;
  -o-background-size     : cover;
  background-size        : cover;
}

body {
  font: 1em 'Oswald', sans-serif;
}

.container {
  width           : 100%;
  text-align      : left;
  -ms-text-justify: distribute-all-lines;
  text-justify    : distribute-all-lines;
  font-family     : 'Cabin', sans-serif;
}

.flex-item {}

.navbar-dark {
  background: #232020;
}

#header-background {
  display        : flex;
  flex-direction : row;
  justify-content: space-around;
  position       : fixed;
}

.logo {
  background    : #E71B64;
  width         : 3.5em;
  text-align    : right;
  padding-right : 0.2em;
  font-family   : 'Oswald', sans-serif;
  font-size     : 5em;
  text-rendering: optimizelegibility;
}

#spacer-div {
  height: 10em;
}

#intro-background {
  background   : rgba(35, 32, 32, 0.75);
  color        : #f9f9f9;
  margin-left  : auto;
  margin-right : auto;
  margin-bottom: 4em;
}

.navbar {
  align-items: center;

  ul {
    padding-left   : 5em;
    list-style     : none;
    display        : inline-block;
    list-style-type: none;
    color          : rgba(0,0,0,0);

    > li {
      font-size                 : $font-size-h5;
      position                  : relative;
      float                     : left;
      text-transform            : uppercase;
      cursor                    : pointer;
      color                     : rgba(0,0,0,0);
      text-align                : center;
      //border-radius             : 1em;
      transition-duration       : 0.3s;
      transition-timing-function: ease-in-out;
      transition-property       : background, color, padding, border-radius;

      &:after {
        position     : absolute;
        z-index      : -1;
        content      : "";
        right        : 0;
        border-radius: 50%;
      }

      &:last-child:after {
        box-shadow: none;
      }

      &:hover {
        background-color: #E71B64;
      }

      > a {
        color          : #E7E0EB;
        text-decoration: none;
        font-size      : 1.4em;
      }
    }
  }
}
/* small screens */
@media screen and (max-width: 44em) {
  body {
    margin: 1.5em 0;
  }

  nav[role="full-horizontal"] {
    ul {
      padding: 0 0.5em;
    }

    ul > li {
      width  : 100%;
      padding: 0.45em 0.25em;
      margin : 0 0 0.55em;

      &:after {
        box-shadow: none;
      }
    }
  }
  /*Top Menus for small screens*/
  #logo {
    position: relative;
  }

  #nav-menu {
    position: relative;
  }
}

#content-background {
  display              : grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows   : repeat(5, auto);
  justify-items        : center;
  grid-row-gap         : 15px;
  grid-column-gap      : 20px;
  background           : #f9f9f9;
  width                : 85%;
  /*margin-top: 10em;*/
  max-width            : 1000px;
  margin-left          : auto;
  margin-right         : auto;
  margin-bottom        : 30px;
  border-radius        : 1em;
  text-align           : center;
  align-content        : center;
  padding              : 30px;
  font                 : 'Cabin', sans-serif;
  @media screen and (max-width: 500px) {
    padding-left : 1em;
    padding-right: 1em;
  }
}

#content-background-inverted {
  display              : grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows   : repeat(5, auto);
  justify-items        : center;
  grid-row-gap         : 15px;
  grid-column-gap      : 20px;
  background           : #232020;
  width                : 85%;
  margin-bottom        : 3em;
  color                : #f9f9f9;
  /*margin-top: 10em;*/
  max-width            : 1000px;
  margin-left          : auto;
  margin-right         : auto;
  border-radius        : 1em;
  text-align           : center;
  align-content        : center;
  padding              : 50px 30px;
  overflow             : auto;
  font                 : 'Cabin', sans-serif;
  @media screen and (max-width: 500px) {
    padding-left : 1em;
    padding-right: 1em;
  }
}

#title1 {
  text-align: center;
  margin    : auto;
  font      : 3.5em 'Oswald', sans-serif;
  color     : #232020;
}

#title1-light {
  text-align: center;
  font      : 5em 'Oswald', sans-serif;
  color     : #ffffff;
}

#title1-inverted {
  text-align: center;
  margin    : auto;
  font      : 3.5em 'Oswald', sans-serif;
  color     : #f9f9f9;
}

.narrow-content {
  text-align    : center;
  align-content : center;
  max-width     : 80em;
  margin-left   : auto;
  margin-right  : auto;
  margin-bottom : 0;
  padding-bottom: 1em;
  font-family   : 'Cabin', sans-serif;
}

.container2 {
  width           : 100%;
  text-align      : centre;
  -ms-text-justify: distribute-all-lines;
  text-justify    : distribute-all-lines;
  font-family     : 'Cabin', sans-serif;
}

.triplet-container {
  grid-column      : 1/4;
  width            : 100%;
  display          : flex;
  flex-direction   : row;
  flex-wrap        : wrap;
  -webkit-flex-wrap: wrap;
  justify-content  : space-evenly;

  div {
    font-size: $font-size-base;
  }
}

.inverted {
  color: #f9f9f9;
}

.col1 {
  max-width   : 14em;
  margin-top  : 1em;
  margin-left : 2em;
  margin-right: 2em;
  padding     : 1em auto;
  flex-grow   : 1;
}

.col2 {
  width         : 15em;
  margin-top    : 1em;
  margin-left   : 2em;
  margin-right  : 2em;
  padding       : 1em;
  text-align    : left;
  height        : 8em;
  vertical-align: top;
  display       : inline-block;
  *display      : inline;
  zoom          : 1;
  @media screen and (max-width: 500px) {
    margin-left : auto;
    margin-right: auto;
  }
}

.stretch {
  width      : 100%;
  display    : inline-block;
  font-size  : 0;
  line-height: 0;
}

.docsContainer {
  display: inline-block;
  left   : 0;
}

.docWindow {
  position : fixed;
  top      : $navbar-height;
  height   : 100%;
  width    : 100%;
  bottom   : 0;
  transform: translateX(-50%);
}

.main-button {
  color           : #f9f9f9 !important;
  background-color: #3c80c3;
  border-radius   : 5px;
  text-decoration : none !important;
  padding         : 5px 10px;
  vertical-align  : bottom;

  &:hover {
    text-decoration : none !important;
    background-color: darken(#3c80c3, 20%) !important;
  }
}

.news-background {
  background   : #f9f9f9;
  width        : 85%;
  /*margin-top: 10em;*/
  max-width    : 1000px;
  margin-left  : auto;
  margin-right : auto;
  border-radius: 1em;
  text-align   : justify;
  padding      : 30px 30px 3em;
  font         : 'Cabin', sans-serif;
  font-size    : $font-size-base;
  @media screen and (max-width: 500px) {
    padding-left : 1em;
    padding-right: 1em;
  }
}

.news-title {
  font-size: $font-size-h2;
}

.news-author {
  font-style   : italic;
  margin-bottom: 2em;
}
