<!DOCTYPE html>
<html>

<head>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async="async" src="https://www.googletagmanager.com/gtag/js?id=108921096"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments)
    };
    gtag('js', new Date());

    gtag('config', 'UA-108921096-1');
  </script>

  <title>eChook - Open Source Data Logging and Telemetry</title>
  <meta charset="UTF-8">
  <title>title</title>

  <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js?ver=1.4.2'></script>
  <script src="https://use.fontawesome.com/10386a299c.js"></script>
  <link rel="shortcut icon" href="img/favicon.ico" type="image/vnd.microsoft.icon">
  <link rel="stylesheet" href="stylesheets/screen.css" type="text/css">
  <link rel="stylesheet" href="stylesheets/data.css" type="text/css">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script type='text/javascript' src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
  <script type='text/javascript' src="scripts/script.js"></script>
  <script src="https://use.fontawesome.com/10386a299c.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<script>
  $.get("nav.html", function(data) {
    $("#nav-placeholder").replaceWith(data);
  });
</script>
<div id="nav-placeholder"></div>

<div id="login-app">
  <div id="welcome-container" class="centred">
    <div id="login-title">{{snippets.title}}</div>
    <!-- Login Screen -->
    <div v-if="screens.login">
      <div id="past-logins" v-if="pastLogins.length > 0" class="">
        <div id="pastLogins" v-for="(car, i) in pastLogins">
          <div v-on:click="prevLogin(i)" class="prev-login-bar">
            {{car.car}}
            <!-- ({{car.codeObs}}) -->
          </div>
        </div>
        <div v-on:click="clearHistory" id="clear-history" class="">
          {{snippets.clearText}}
        </div>
        <div class="login-divider"></div>
      </div>
      <!-- <input class="t-input" v-model="teamCode" type="text" name="" placeholder="********" maxlength="8"> -->
      <input class="t-input" v-on:keyup.enter="newLogin" v-on:input="teamCode = $event.target.value" type="text" name="" placeholder="********" maxlength="8">
      <div v-on:click="newLogin" class="button" v-bind:class="{'submit-button': validCode}">
        {{snippets.loginMessage}}
      </div>
      <div id="get-new-code" v-on:click="toRegistration" class="">
        Don't have a code? Get one here!
      </div>
    </div>
    <!-- New Registration Screen -->
    <div class="" v-if="screens.register">
      <div class="">
        <input type="text" placeholder="Team Name" name="" value="">
        <input type="text" placeholder="Car Name" name="" value="">
      </div>
      <div class="button">
        {{snippets.codeReq}}
      </div>
      <div v-on:click="toLogin" id="get-new-code">
        Return to Login
      </div>
    </div>
  </div>
</div>
</body>
<script type='text/javascript' src="scripts/dataVue.js">
</script>

</html>